body {
    font-family: Arial, sans-serif;
}

@media (max-width: 600px) {
    body {
        font-size: 14px; 
    }
    .section-2{
        position: fixed;
        padding-top: 10vh;
        padding-left: 5vh;
        width: 0%;
    }
    #submitBtnMobile
    #resultMobile
    #showAnswersMobile{
        display: block;
    }
    #submitBtn
    #result
    #showAnswers{
        display: none;
    }
}

.select-panel {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.select-panel button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.select-panel button:hover {
    background-color: #f0f0f0;
}

.select-panel button:focus {
    outline: none;
}

#startQuiz {
    padding: 20px;
    font-size: 15px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#gameJsonSelect,
#webJsonSelect
#networkSelect {
    padding: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    border: 3px solid #ccc;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    position: relative; /* Add position relative */
}

/* Style the arrow */
#gameJsonSelect::after,
#webJsonSelect::after
#networkSelect::after {
    content: '\25BC'; /* Unicode for down arrow */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none; /* Ensure the arrow doesn't interfere with clicks */
}

/* Style when select is opened */
#gameJsonSelect:focus,
#webJsonSelect:focus
#networkSelect:focus {
    outline: none; /* Remove outline */
    border-color: blue; /* Change border color on focus */
}


.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.section-1{
    padding-top: 2vh;
    padding-bottom: 4vh;
    text-align: center;
}

.section-2{
    position: fixed;
    font-size: 18px;
    padding-top: 15vh;
    padding-left: 15vh;
    width: 15%;
}

#quiz{
    padding-top: 20px;
}
.option{
    padding: 10px;
}

h1 {
    padding: 20px;
    border: 3px solid #ccc;
    border-radius: 5px;
}

.question {
    margin-bottom: 10px;
}

.options {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.option {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.option input[type="radio"] {
    display: none;
}

.option.selected {
    background-color: #9fe59f;
}

.option.correct {
    background-color: #358a35; /* Green background for correct options */
}

.option.incorrect {
    background-color: #f29292; /* Red background for incorrect options */
}

.option:hover {
    background-color: #f0f0f0;
}

.option.selected:hover {
    background-color: #6edc6e;
}

.option.incorrect:hover {
    background-color: #e36868;
}

.option.correct:hover {
    background-color: #1f7c1f;
}

#submitBtn {
    font-size: 20px;
    margin-top: 20px;
    padding: 20px 30px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#submitBtn:hover {
    background-color: #45a049;
}

#showAnswers {
    font-size: 17px;
    margin-top: 20px;
    padding: 17px 20px;
    background-color: #664caf;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#showAnswers:hover {
    background-color: #523898;
}

#result {
    margin-bottom: 20px;
    font-weight: bold;
}

